* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: orange;
  padding: 35px 35px 35px 0px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header h1 a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 15px 10px 35px;
  border: 5px solid white;
  border-left: 0;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

header nav ul li a {
  color: black;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 23px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: black;
  color: white;
  border: solid white 2px;
  text-shadow: none;
}

footer {
  padding: 40px 35px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: black;
  font-size: 30px;
}

footer div {
  line-height: 1.25;
  text-align: right;
}

footer a {
  color: black;
  text-decoration: none;
}